.cards {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #665d69;
  width: 282px;
  height: 361px;
  gap: 0px;
  border-radius: 11px;
  overflow: hidden;
  position: relative;
}
