.main {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__title {
  font-size: 60px;
  display: flex;
}

.main__subtitle {
  padding-top: 20px;
  font-size: 38px;
}
